<!DOCTYPE html>
<html>
<head>
  <title>Api flashcards</title>
  <%= stylesheet_link_tag    "api_flashcards/application", media: "all" %>
  <%= javascript_include_tag "api_flashcards/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
